.tile {
  display: inline-flex;
  background-image: url('/tiles/grass.png');
}
.rock {
  background-image: url('/tiles/rock.png'),url('/tiles/grass.png');
}
.tree {
  background-image: url('/tiles/tree.png'),url('/tiles/grass.png');
}
.grass {
  background-image: url('/tiles/grass.png');
}
.chest {
  background-image: url('/tiles/chest.png'),url('/tiles/grass.png');
}